# /etc/systemd/system/camunda.service
[Unit]
Description=Camunda Platform Service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=camunda-deploy
Group=camunda-deploy
WorkingDirectory=/srv/camunda
ExecStart=/srv/camunda/manage-camunda.sh start
ExecStop=/srv/camunda/manage-camunda.sh stop
ExecReload=/srv/camunda/manage-camunda.sh restart

[Install]
WantedBy=multi-user.target
EOF