# /etc/systemd/system/camunda-update.timer
[Unit]
Description=Check for Camunda updates daily

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target