# production/k8s/external-secrets/k8s-secret-store.yaml
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: kubernetes-backend
spec:
  provider:
    # Define o provedor como o próprio Kubernetes
    kubernetes:
      server:
        # Aponta para o servidor da API dentro do cluster
        url: https://kubernetes.default.svc
      caProvider:
        type: ConfigMap
        name: kube-root-ca.crt
        key: ca.crt
        # Opcional, mas boa prática: especifique o namespace onde o ConfigMap está.
        # O ESO irá procurar no seu próprio namespace por padrão.
        namespace: external-secrets
      auth:
        # Usa a ServiceAccount do ESO para autenticar
        serviceAccount: 
          name: external-secrets
          namespace: external-secrets
